<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="author" content="thinkgem@163.com"/>
<link rel="stylesheet" type="text/css" href="${resPath}/global.css" />
<link rel="stylesheet" type="text/css" href="${resPath}/main.css" />
<script type="text/javascript" src="${resPath}/jquery-1.3.2.js"></script>
<script type="text/javascript" src="${resPath}/global.js"></script>
<script type="text/javascript">var base = '${base}', resPath = '${resPath}';</script>